@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
:root{
    --title-font-family:'Castoro Titling', cursive;
    --text-font:'Cormorant Garamond', serif;
    --title-color:rgb(10, 79, 241);
    --theme-color: #161B3D;
    --paragraph-font:'Raleway', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #ffff;
    width: 100%;
}
.sk-navbar{
    padding: 30px 0;
    background-color: #fff;
}
.sk-navbar .navbar-brand{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.sk-navbar .navbar-brand i{
    color: var(--title-color);
    margin-right: 8px;
}
.sk-navbar .navbar-brand span{
    font-family:var(--title-font-family);
    font-size: 15px;
    font-weight: 100;
    margin-left: 10px;
}
.sk-navbar #navbarNav ul li{
    padding: 0 10px;
}
.sk-navbar #navbarNav ul li a{
    color: var(--theme-color);
    font-family: var(--title-font-family);
    text-transform: uppercase;
    font-size: 15px;
    transition: all 400ms ease-out;
}
.sk-navbar #navbarNav ul li a:hover,.sk-navbar #navbarNav ul li a:focus{
   color: rgb(31, 98, 254);
}
/* profile */
.sk-profile{
    height:40rem;
}
.sk-profile-bg1{
    height: 40rem;
    background-color: #edddc8
}
.sk-profile-bg2{
    height: 40rem;
    background-color: #ffff;
}
.sk-profile-card{
    height: 32rem;
    width: 80%;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.sk-profile-card1{
    height: 32rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) -9px 0px 13px 0px;
    position: relative;
}
.sk-profile-card1 .profile-pic-section{
    height: 28rem;
    background-color: #F4ECE6;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.sk-profile-card1 .profile-pic-section .profile-pic img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 30px;
    object-fit: cover;
    background-size: cover;
}
.sk-profile-card1 .profile-pic-section .profile-name h1{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 28px;
    margin-top: 30px;
}
.sk-profile-card1 .profile-pic-section .profile-name .hr-line{
    width: 6rem;
    height: 2px;
    background-color:var(--theme-color);
    text-align: center;
    margin: 20px auto;
}
.sk-profile-card1 .profile-pic-section .profile-name p{
    font-family:var(--title-font-family);
    font-size: 20px;
    font-weight: 100;
    margin-top: 30px;
    letter-spacing: 3px;
}
.sk-social-media .sk-social-media-icon{
   text-align: center;
   word-spacing: 20px;
   margin-top: 10px;
}
.sk-social-media .sk-social-media-icon a{
    text-decoration: none;
    font-size: 28px;
    color: var(--theme-color);
}
.sk-profile-card2{
    height: 32rem;
    background-color: #fff;
    padding: 30px 0 0 20px;
}
.sk-profile-card2 .sk-profile-description h1{
    font-size: 6rem;
    font-weight: bolder;
}
.sk-profile-card2 .sk-profile-description p{
    font-size: 25px;
    font-weight: 600;
}
.sk-about-description p{
    margin-top:40px;
    line-height: 2vw;
    font-family: var(--paragraph-font);
    color: var(--theme-color);
    font-size: 15px;
}




/* responsive page */
@media only screen and (max-width: 760px) {
    .sk-navbar{
        padding: 10px 0;
        margin-left: -41px !important;
    }
    .sk-navbar .navbar-brand{
        font-size: 15px;
        margin-left:3rem !important;
    }
    .sk-navbar .navbar-brand i{
        margin-right: 8px;
    }
    .sk-navbar .navbar-brand span{
        font-size: 10px;
    }
    .sk-navbar #navbarNav ul{
        margin-left: 40px !important;
    }
    .sk-navbar .navbar-toggler{
        border: none;
        outline: none;
        margin-left:-40px;
    }
    .sk-navbar .navbar-toggler:focus,.sk-navbar .navbar-toggler:active{
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }
    /* profile */
    .sk-profile{
        height:60rem;
    }
    .sk-profile-bg1{
        height: 30rem;
    }
    .sk-profile-bg2{
        height: 30rem;
    }
    .sk-profile-card {
        height: 60rem;
        margin: 0 auto;
        width: 90%;
        margin-top: 3rem;
    }
    .sk-profile-card1{
        height: 30rem;
        box-shadow: rgba(0, 0, 0, 0.15) -9px 0px 13px 0px;
    }
    .sk-profile-card1 .profile-pic-section{
        height: 25rem;
    }
    .sk-profile-card1 .profile-pic-section .profile-pic img {
        height: 10rem;
        width: 10rem;
        margin-top: 20px;
    }
    .sk-profile-card1 .profile-pic-section .profile-name h1{
        font-size: 28px;
        margin-top: 30px;
    }
    .sk-profile-card1 .profile-pic-section .profile-name .hr-line{
        width: 6rem;
        height: 2px;
        margin: 20px auto;
    }
    .sk-profile-card1 .profile-pic-section .profile-name p{
        font-size: 15px;
        font-weight: 100;
        margin-top: 30px;
        letter-spacing: 3px;
    }
    .sk-social-media .sk-social-media-icon{
       text-align: center;
       word-spacing: 20px;
       margin-top: 18px;
    }
    .sk-social-media .sk-social-media-icon a{
        text-decoration: none;
        font-size: 28px;
        color: var(--theme-color);
    }
    .sk-profile-card2{
        height: 30rem;
        background-color: #fff;
        padding: 30px 0 0 20px;
    }
    .sk-profile-card2 .sk-profile-description h1{
        font-size: 6rem;
        font-weight: bolder;
    }
    .sk-profile-card2 .sk-profile-description p{
        font-size: 15px;
        font-weight: 600;
    }
    .sk-about-description p{
        margin-top:40px;
        line-height: 22px;
    }
    
}