@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Jacques+Francois&family=Quicksand:wght@300;400;500;700&display=swap');

:root{
    --main-font:'Quicksand', sans-serif;
    --base-font:'Jacques Francois', serif;
    --site-font:'Caveat', cursive;
    --bg-color-first:#faf6f0;
    --bg-color-second:#e9d8c2;
    --bg-red:#fd9298
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-first);
    font-family: var(--main-font);
    box-sizing: border-box;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
h1{
    font-size: 47px;
}
h2{
    font-size: 42px;
}
h3{
    font-size: 35px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 25px;
}
h6{
    font-size: 20px;
}
.home-section{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../images/bg-2.png");
    padding-top: 100px;
}
.menu-icon{
    display: none;
}
.navbar-section{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    transition: all 0.4s ease;
}
.navbar .menu ul{
    display: flex;
}
.navbar .menu ul li{
    margin-left: 20px;
}
.navbar .menu ul li a{
    color: white;
    padding: 10px 25px;
    background-color: #000;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition:all 0.5s ease;
}
.navbar .menu ul li a.active,nav .menu ul li a:hover{
    background-color:white;
    color:var(--bg-red)
}
.navbar .menu ul li a:hover{
    letter-spacing: 1px;
}


/* Hero Image */
.hero-image-section{
    height:calc(100vh - 100px);
    position:relative;
    padding:20px 30px 20px 30px;
}
.hero-image{
    border: 2px solid black;
    height: 100%;
    border-radius: 20px;
    display:grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    background-color: var(--bg-color-first);
}
.hero-image-shadow{
    position: absolute;
    border: 2px solid black;
    height: calc(100% - 40px);
    width: calc(100% - 60px);
    border-radius: 20px;
    bottom: -5px;
    right: 10px;
    z-index: -1;
}
.hero-image-left{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.hero-image-left-content{
    padding: 40px;
}
.hero-image-left-content h5{
    font-family: var(--site-font);
}
.hero-image-left-content h3{
    font-family: var(--base-font);
    margin-top: 10px;
    margin-bottom: 5px;
}

.hero-image-right{
    height: 100%;
    width: 100%;
    padding: 10px;
    background-image: url(../images/bg-1.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-image-right img{
    width: 100%;
}
/* About Us */
.about-us{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 450px;
}
.about-us-left{
    background:var(--bg-color-first);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-us-left-avtar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.about-us-left-avtar img{
    width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.about-us-left h4{
    font-family: var(--base-font);
    margin-top: 15px;
}
.about-us-left h6{
    font-family: var(--base-font);
    margin-top: 5px;
}
.about-us-left-email{
    display: inline-block;
    padding: 10px 30px;
    background-color: black;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.about-us-left-email:hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color:var(--bg-red);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: btnHover 4s ease;
}

@keyframes btnHover {
    0%{
        width: 0;
        height: 0;
    }
    50% {
        width: 200px;
        height: 200px;
    }
    100%{
        opacity: 0;
    }
}
.about-us-left-email a{
    color: white;
}
.about-us-social-media{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.about-us-social-media i{
    font-size: 30px;
    margin-right: 10px;
}
.download-cv{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 200px;
}
.download-cv a{
    font-family: var(--site-font);
    font-size: 22px;
    position: absolute;
    top: 5px;
    z-index: 1;
}
.download-cv img{
    width: 160px;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 0;
}
.about-us-right{
    background-image: url(../images/about-us-bg.jpg);
    background-position:center;
    object-fit: cover;
    background-size:750px;
    background-repeat: no-repeat;
    /* background-color:#e3e3e8; */
    background-color: var(--bg-color-first);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 120% 130%;
}
.about-us-right-content{
    width: 70%;
    height: 70%;
    color: black;
}
.about-us-right-content h4{
    font-family: var(--site-font);
    margin-top: 10px;
}
.about-us-right-content p{
    margin-top: 10px;
    line-height: 24px;
}
/* projects */
#projects .project-heading{
    text-align: center;
    margin: 30px 0px;
}
#projects .items{
    padding: 0 30px;
}
#projects .item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5rem;
}
#projects .item:nth-child(even){
    flex-direction: row-reverse;
}
#projects .item .left{
    flex: 1;
}
#projects .item .img{
    height: 500px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 20px #4705fc33;
    background-position: top;
    background-size: contain;
    object-fit: cover;
}
#projects .item .img img{
    width: 100%;
    height: auto;
}
#projects .item .project-img-mobile-view{
    display: none;
}
#projects .item .right{
    flex: 1;
    border-radius: 12px;
    margin-left: -150px;
    padding:2rem;
    background-color: var(--bg-color-first);
    box-shadow: 0 0 20px #00000028;
    z-index: 2;
}
#projects .item:nth-child(even) .right{
    margin-left: 0;
}
#projects .item:nth-child(even) .left{
    margin-left: -150px;
}
#projects .item .right .project-details h3{
    margin-bottom: 10px;
    font-family: var(--base-font);
}
#projects .item .right .project-details p{
    line-height: 25px;
}
#projects .item .right .project-details .project-desc{
    display: flex;
    align-items: top;
}
#projects .item .right .project-details .project-desc i{
    margin-top: 3px;
}
#projects .item .right .project-details .about-us-left-email{
    border-radius: 6px;
}
/* Animation */
.home-section.active .hero-image-right img{
    animation: fadeInRight 1s ease forwards;
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.about-section.active .about-us-left-avtar {
    animation: fadeInTop 3s ease forwards;
}
@keyframes fadeInTop{
    0% {
        opacity: 0;
        scale:0.5;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}


/* media query */
@media (max-width: 991.98px) {
    .navbar{
        flex-direction: column;
        padding:0;
    }
    .navbar .nav-image{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content:space-between;
        padding: 20px 0;
    }
    .navbar .nav-image h1{
        margin-left: 20px;
    }
    .navbar .menu-icon{
        display: block;
    }
    .navbar .menu-icon i{
        font-size: 32px;
        margin-right: 10px;
        font-weight: 700;
    }
    .navbar .menu{
        max-height:0;
        width: 100%;
        background-color:rgb(30, 27, 27);
        overflow: hidden;
        transition: all 0.6s ease;
    }
    .navbar .menu-open{
        max-height: 400px;
    }
    .navbar .menu ul{
        flex-direction: column;
    }
    .navbar .menu ul li{
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: 1px solid rgb(129, 128, 128);
        margin-left: 0;
    }
    .navbar .menu ul li:last-child{
        border: none;
    }
    .navbar .menu ul li a{
        background: none;
        font-size: 20px;
    }
    .navbar .menu ul li a.active{
        background:none;
        color:var(--bg-red);
    }
    .hero-image-section{
        padding:20px;
    }
    .hero-image{
        grid-template-columns: auto;
    }
    .hero-image-shadow{
        bottom: 4px;
    }

    /* About Us */
    .about-us{
        grid-template-columns:auto;
        grid-template-rows:repeat(2,450px);
    }

    
}
@media (max-width:768px){
    #projects .item{
        flex-direction: column;
    }
    #projects .item .left{
        width: 100%;
    }
    #projects .item .right{
        margin-left: 0;
        margin-top: -150px;
        width: 80%;
    }
    #projects .item:nth-child(even){
        flex-direction: column;
    }
    #projects .item:nth-child(even) .left{
        margin-left: 0;
    }

}
@media (max-width: 575.98px) { 
    #projects .item .project-img-desktop-view{
        display: none;
    }
    #projects .item .project-img-mobile-view{
        display: block;
    }
    #projects .item .img{
        height: 700px;
    }
}